{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "semi": false,
    "htmlWhitespaceSensitivity": "strict",
    "jsxBracketSameLine": false,
    "endOfLine": "auto",
    "printWidth": 80
}